.cardWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.cardCtn {
  margin: 20px auto;
}

.card {
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

img {
  width: 100px;
  margin: 0 auto .8rem;
}

.cardLink {
  color: inherit;
  text-decoration: none;
}