name: ci-c++

on: 
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    
    steps:
      # Step 1: obtain repo from GitHub
      - uses: actions/checkout@v2

      # Step 2: run program
      - name: run program
        run: g++ main.cpp